<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Technical Test</title>
</head>
<script type ='text/javascript'>
    function jSONfile() {
        const form = document.querySelector('#form');
        const data = Object.fromEntries(new FormData(form).entries());
        console.log(data)
        return console.log("I worked")
    }
</script>
<body>
    <%= form_with(url: "/", method: "get", id: "form") do %>
        <h2>Company Info</h2> 
        <% @service_profile.each do |key, val| %>
            <% if val.is_a?(String) %> 
            <%= label_tag(key.to_s()) %>
            <%= text_field_tag(:q, val, :id => key.to_s()) %><br><br>
            <% elsif key == :Address %>
                <h2>Address</h2>
                <% val[:results].each do |element| %>
                <% if element[:type] == "ZPHYSICAL" %>
                    <h3>Physical Address</h3>
                    <% element.each do |key2, val2| %>
                        <% if key2 != :type && key2 != :startDate && key2 != :endDate %>
                        <%= label_tag(key2.to_s()) %>
                        <%= text_field_tag(:q, val2, :id => key2.to_s()) %><br><br>
                        <% end %>
                    <% end %>
                <% elsif element[:type] == "ZPOSTAL" %>
                    <h3>Postal Address</h3>
                    <% element.each do |key2, val2| %>
                        <% if key2 != :type && key2 != :startDate && key2 != :endDate %>
                        <%= label_tag(key2.to_s()) %>
                        <%= text_field_tag(:q, val2, :id => key2.to_s()) %><br><br>
                        <% end %>
                    <% end %>
                <% end %>
                <% end %>
            <% elsif key == :CCSApproval %>
            <h2>CCS Approval</h2>
                <% val[:results][0].each do |key3, val3|%>
                    <%= label_tag(key3.to_s()) %>
                    <%= text_field_tag(:q, val3, :id => key3.to_s()) %><br><br>
                <% end %>
            <% end %>
        <% end %>
    <%= submit_tag("Update", :onclick => "jSONfile()")%>
    <% end %>
</body>
</html>